<mat-toolbar color="primary">
  <span><img src="/favicon.ico" height=30 width=40 alt="Logo"></span>
  <a mat-button><span class="fa fa-home fa-lg"></span>Home</a>
  <a mat-button><span class="fa fa-info fa-lg"></span>About</a>
  <a mat-button><span class="fa fa-list fa-lg"></span>Menu</a>
  <a mat-button><span class="fa fa-address-card fa-lg"></span>Home</a>
</mat-toolbar>
<div class="container jumbotron" 
     fxLayout="row wrap" 
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">
    <div fxFlex fxFlex.gt-sm='50%'>
      <h1>Phymas Health Centre</h1>
      <p>Write some text here</p>
    </div>
    <div fxFlex fxFlex.gt-sm='20%'>
      <img src="/favicon.ico" height=30 width=40 alt="Logo">
    </div>
    <div fxFlex >
      
    </div>
</div>    