<div class="container footer" 
     fxLayout="row wrap" 
     fxLayout.lt-md="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px">
    <div fxFlex='100' fxFlex.gt-sm='50'>
      <div fxLayout='row'>
        <div fxFlex='40' fxFlexOffset='20px'>
          <h4>Links</h4>
          <mat-list >
            <mat-list-item ><a mat-button>Home</a></mat-list-item>
            <mat-list-item ><a mat-button>Menu</a></mat-list-item>
            <mat-list-item ><a mat-button>About</a></mat-list-item>
            <mat-list-item ><a mat-button>Contact</a></mat-list-item>
          </mat-list>
        </div>
        <div fxFlex='50'>
          <h4>Our Address</h4>
          <address style="text-size:80%">
            121 Clear Water Bay Road<br>Clear Water Bay Road, Kowlong, Hong Kong, China<br>
            <i class="fa fa-phone"></i>:(647) 845-3303<br>
            <i class="fa fa-fax"></i>:(647) 845-2204<br>
            <i class="fa fa-envelope"></i>:<a href="mailto:super.test800@gmail.com">super.test800@gmail.com</a><br>
          </address>
        </div>
      </div>
  </div> 
  <div fxFlex='100' fxFlex.gt-sm='45'>
    <div style="text-align : center">
     <a mat-icon-button class="btn-google-plus"  href="https://workspace.google.com/products/currents/" >Google Currents</a> <br>  
     <a mat-icon-button class="btn-facebook"   href="https://www.facebook.com/" >facebook</a> <br>  
     <a mat-icon-button class="btn-linkedin" href="https://ca.linkedin.com/" >linkedin</a> <br>  
     <a mat-icon-button class="btn-twitter" href="https://twitter.com/login?lang=en-gb" >twitter</a><br>   
     <a mat-icon-button class="btn-youtube" href="https://www.youtube.com/" >youtube</a><br>   
     <a mat-icon-button class="btn-mail" href="mailto:" >Google Currents</a>   
    </div>
  </div>
  <div>
    <p>Copyright 2021 OUR COMPANY</p>
  </div>
</div>